.estimation-circular-progress {
    --md-circular-progress-size: 36px;
    --rmcw-circular-progress-transition: stroke 200ms;

    &.max {
        --md-circular-progress-active-indicator-color: var(--md-sys-color-error);
    }

    &.min {
        --md-circular-progress-active-indicator-color: var(--md-sys-color-tertiary);
    }
}
