.tachometer-gear-position {
    position: absolute;
    inset: 0px;
    pointer-events: none;
    padding-top: 32px;
}

.tachometer-gear {
    --text-size: 10vmax;
    font-size: var(--text-size);
    text-align: center;
    line-height: var(--text-size);
    transition:
        color 200ms,
        outline 200ms,
        font-size 200ms;
    -webkit-text-stroke: 1px var(--md-sys-color-on-background);
    width: var(--text-size);
    height: var(--text-size);
    border-radius: var(--text-size);
    border-color: var(--md-sys-color-tertiary);
}

.demo-card {
    height: 32px;
    width: 32px;
}
